# 共通の除外ファイル
.DS_Store
/log/*
/tmp/*
/config/master.key
/config/credentials.yml.enc
/db/*.sqlite3
/db/*.sqlite3-journal
/public/assets
/node_modules

# backend プロジェクトの設定
backend/node_modules
backend/log/*
backend/tmp/*
backend/config/master.key
backend/config/credentials.yml.enc
backend/db/*.sqlite3
backend/db/*.sqlite3-journal
backend/public/assets
backend/.byebug_history
backend/.env

# frontend プロジェクトの設定
frontend/node_modules
frontend/log/*
frontend/tmp/*
frontend/public/assets
